**/*.egg-info/
**/__pycache__/
**/*.pyc
.git/
.github/
.idea/
.pytest_cache/
.venv/
build/
configs/
data/
dist/
mock_examples/
models/
notebooks/
outputs/
results/
scripts/
tests/
*.joblib
*.log
*.parquet
