# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
conda_envs/

# Jupyter
.ipynb_checkpoints/

# Data / models
data/
outputs/
models/
*.joblib
*.parquet

# Logs
*.log

# OS
.DS_Store

# Packaging output
build/
dist/
*.egg-info/
